.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  height: 100vh;
  padding: 20px 0 20px 0;
}
.header_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub_title {
  text-align: center;
  margin-top: 10px;
}
.illustration {
  width: 100%;
  max-width: 200px;
}
.numberPlayers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin-bottom: 10px; */
  background-color: white;
}
.numberPlayersHeader {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}
.selectNumberPlayers {
  width: 100%;
  border-radius: 2px;
  border: 2px solid black;
  font-size: 24px;
}
.time {
  composes: numberPlayers;
}
.timeHeader {
  composes: numberPlayersHeader;
}
.selectTime {
  composes: selectNumberPlayers;
}

.buttonStart {
  width: 200px;
  height: 80px;
  border: 2px solid black;
  font-size: 24px;
  background-color: white;
}
.buttonStart:active {
  color: white;
  background-color: black;
}
