.root {
  display: flex;
  width: 100%;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}
.dial {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.minutes {
  font-size: 32px;
}
.seconds {
  font-size: 32px;
}
